In [1]:
num = [i for i in range(10) if i%2==0 ]  #if
num

[0, 2, 4, 6, 8]

In [3]:
num = [i for i in range(50) if i%2==0 if i%3==0 ]   #multiple if
num

[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [4]:
fruits = ["mango" if i%3==0 else "orange" for i in range(10)]  # if-else
fruits

['mango',
 'orange',
 'orange',
 'mango',
 'orange',
 'orange',
 'mango',
 'orange',
 'orange',
 'mango']

# lambda

In [5]:

'''
def sum(x,y):
    return x + y
'''
sum = lambda x, y : x + y
sum(3,4)

7

# map

In [6]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temperatures = (36.5, 37, 37.5, 38, 39)
F = map(fahrenheit, temperatures)
C = map(celsius, F)
temperatures_in_Fahrenheit = list(map(fahrenheit, temperatures))
temperatures_in_Celsius = list(map(celsius, temperatures_in_Fahrenheit))
print(temperatures_in_Fahrenheit)
print(temperatures_in_Celsius)

[97.7, 98.60000000000001, 99.5, 100.4, 102.2]
[36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [7]:
C = [39.2, 36.5, 37.3, 38, 37.8] 
F = list(map(lambda x: (float(9)/5)*x + 32, C))
print(F)

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]

In [8]:
C = list(map(lambda x: (float(5)/9)*(x-32), F))
print(C)

[39.2, 36.5, 37.300000000000004, 38.00000000000001, 37.8]

# filter

In [9]:
fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
odd_numbers = list(filter(lambda x: x % 2, fibonacci))
print(odd_numbers)

[1, 1, 3, 5, 13, 21, 55]

In [10]:
even_numbers = list(filter(lambda x: x % 2 == 0, fibonacci))
print(even_numbers)

[0, 2, 8, 34]

# reduce

In [11]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print(sum)

193